<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/table_css.css" />
    <link rel="stylesheet" href="/css/styles.css" />
	<link rel="stylesheet" href="/css/modify.css" />   
	<title>bpdz</title>
  </head>
  <body>
     <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#" class="logo">BPDZ</a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="/login">HOME</a></li>
        <li class="dropdown">
          <a href="#">SERVICES <i class="ri-arrow-down-s-line"></i></a>
          <ul class="dropdown-content">
            <li class="dropdown-item">
              <a href="#">View Tables<i class="ri-arrow-right-s-line"></i></a>
              <ul class="dropdown-submenu">
                <li><a href="/archive">Archive</a></li>
                <li><a href="/movment">Mouvment</a></li>
                <li><a href="/compte">compte</a></li>
                <li><a href="/dir">dir</a></li>
                <li><a href="/fraud">fraud</a></li>
                <li><a href="/mondat">mondat</a></li>
                <li><a href="/pret">pret</a></li>
                <li><a href="/habi">habilitation</a></li>
              </ul>
            </li>
            <li><a href="/form">Fill Pacs</a></li>
            <li><a href="/auditor/add_auditor/add_audi">Add</a></li>
          </ul>
        </li>
        <li id="last_child"><a href="/profile">PROFILE</a></li>
      </ul>
      <div class="nav__btns">
        <li><a href="/profile">PROFILE</a></li>
      </div>
    </nav>

	<h2>table dir</h2>
	<div class="section__container">
	    <form th:action="@{/search}" th:object="${search}" method="POST">
	        <input type="text" name="search" placeholder="Rechercher par nom de banque..." th:value="${search}">
	        <button type="submit">Rechercher</button>
	    </form>
	</div>
	 <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

	<table>
	    <thead>
	        <tr>
	            <th>id</th>
	            <th>Nom Banque</th>
	            <th>Code Banque</th>
	            <th>BIC</th>
	            <th>Adresse</th>
	            <th>Participante</th>
	            <th>ISO20022</th>
	            <th>Prêt</th>
	            <th>Nom Correspondant</th>
	            <th>Email</th>
	            <th>Téléphone</th>
	            <th>Abonnement</th>
				<th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each ="banks:${banks}">
	            <td th:text="${banks.id}"></td>
	            <td th:text="${banks.nomBanque}"></td>
	            <td th:text="${banks.codeBanque}"></td>
	            <td th:text="${banks.bic}"></td>
	            <td th:text="${banks.adresse}"></td>
	            <td th:text="${banks.participante}"></td>
	             <td th:text="${banks.iso20022Integration}"></td>
	              <td th:text="${banks.pret}"></td>
	               <td th:text="${banks.nomCorrespondant}"></td>
	                <td th:text="${banks.mail}"></td>
	                <td th:text="${banks.tel}"></td>
	                <td th:text="${banks.abonnement}"></td>
					<td>
					 <form th:action="@{/operation/confirmdelete(id=${banks.id}, type='dir')}" method="get">
                      <input type="hidden" name="id" th:value="${banks.id}" />
                      <input type="hidden" name="type" value="dir" />
                      <button type="submit">Delete</button>
                  </form>
					</div>
					</td>
	        </tr>
	    </tbody>
	</table>

	<!-- i will modify in input type i add this only to see it i will send code and only copy coller don't worry ok!-->
	<div class="section__container modify-form-container">
	  <h2>Modify Data</h2>
	  <form class="form-griddd">
		
	      <div class="form-grouppp">
	          <label>Nom Banque</label>
	          <input type="text">
	      </div>
	      
	      <div class="form-grouppp">
	          <label for="statut">Code Banque</label>
	          <input type="number">
	      </div>
	      
	      <div class="form-grouppp">
	          <label for="nature">BIC</label>
	          <input type="text">
	      </div>
	      
	      <div class="form-grouppp">
	          <label for="idBanque">Adresse</label>
	          <input type="text">
	      </div>
	      
	      <div class="form-grouppp">
	          <label for="typeMessage">Participante</label>
	          <input type="text">
	      </div>
	      
	      <div class="form-grouppp">
	          <label for="transmission">ISO20022</label>
	          <input type="text">
	      </div>
	      
		  <div class="form-grouppp">
		      <label for="nature">Prêt</label>
		      <input type="text">
		  </div>

		  <div class="form-grouppp">
		      <label for="idBanque">Nom Correspondant</label>
		      <input type="text">
		  </div>

		  <div class="form-grouppp">
		      <label for="typeMessage">Email</label>
		      <input type="text">
		  </div>

		  <div class="form-grouppp">
		      <label for="transmission">Téléphone</label>
		      <input type="number">
		  </div>
		  
		  <div class="form-grouppp">
		      <label for="transmission">Abonnement</label>
		      <input type="text">
		  </div>
		  
	      <div class="form-actionsss">
	          <button type="button">Cancel</button>
	          <button type="submit">Save Changes</button>
	      </div>
	  </form>
	</div>
<script src="/js/main.js"></script>
</body>
</html>
