<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>BPDZ</title>
  </head>
  <body>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#" class="logo">BPDZ</a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="/login">HOME</a></li>
        <li class="dropdown">
          <a href="#">SERVICES <i class="ri-arrow-down-s-line"></i></a>
          <ul class="dropdown-content">
            <li class="dropdown-item">
              <a href="#">View Tables<i class="ri-arrow-right-s-line"></i></a>
              <ul class="dropdown-submenu">
                <li><a href="/archive">Archive</a></li>
                <li><a href="/movment">Mouvment</a></li>
                <li><a href="/compte">compte</a></li>
                <li><a href="/dir">dir</a></li>
                <li><a href="/fraud">fraud</a></li>
                <li><a href="/mondat">mondat</a></li>
                <li><a href="/pret">pret</a></li>
                <li><a href="/habi">habilitation</a></li>
              </ul>
            </li>
            <li><a href="/form">Fill Pacs</a></li>
          </ul>
        </li>
        <li id="last_child"><a href="/profile">PROFILE</a></li>
      </ul>
      <div class="nav__btns">
        <li><a href="/profile">PROFILE</a></li>
      </div>
    </nav>


	<header id="home">
		  <div class="header__container">
		    <div class="header__content">
		      <h1>Welcom to Banking Platform DZ</h1>
		      <p>We are to help you</p>
		      
		      <div class="header__btns">
		        <a href="#">
		          <span><i class="ri-play-circle-fill"></i></span>
		        </a>
		      </div>
		    </div>
		  </div>
		</header>


		<br>
		<br>
		<br>
		  

		      <div class="slider-container">
		        <h2 class="section__header"> We process billions in transactions for these industry leaders </h2>
		        <p class="section__description">
		          We are proud to partner with leading financial and industrial institutions in Algeria and around the world, 
		          processing billions in transactions securely and reliably each year. 
		          Our commitment to cutting-edge technology and high-quality service makes us the preferred choice for industry leaders.
		        </p>
		        <div class="slider-track" id="slider-track">
		          <div class="slide"><img src="/css/image/badr.jpeg" alt="Bank 1"></div>
		          <div class="slide"><img src="/css/image/bdl.jpeg" alt="Bank 2"></div>
		          <div class="slide"><img src="/css/image/bna.png" alt="Bank 3"></div>
		          <div class="slide"><img src="/css/image/BNP-Paribas-Symbol.png" alt="Bank 4"></div>
		          <div class="slide"><img src="/css/image/cpa.jpeg" alt="Bank 5"></div>
		          <div class="slide"><img src="/css/image/elbaraka.jpeg" alt="Bank 6"></div>
		          <div class="slide"><img src="/css/image/sonelgaz-2-1024x576.jpg" alt="Bank 7"></div>
		          <div class="slide"><img src="/css/image/badr.jpeg" alt="Bank 1"></div>
		          <div class="slide"><img src="/css/image/bdl.jpeg" alt="Bank 2"></div>
		          <div class="slide"><img src="/css/image/bna.png" alt="Bank 3"></div>
		          <div class="slide"><img src="/css/image/BNP-Paribas-Symbol.png" alt="Bank 4"></div>
		          <div class="slide"><img src="/css/image/cpa.jpeg" alt="Bank 5"></div>
		          <div class="slide"><img src="/css/image/elbaraka.jpeg" alt="Bank 6"></div>
		          <div class="slide"><img src="/css/image/sonelgaz-2-1024x576.jpg" alt="Bank 7"></div>
		        </div>
		      </div>

		    <section class="section__container discover__container">
		  <h2 class="section__header">Smart and Secure Financial Services for Leading Institutions</h2>
		  <p class="section__description">
		    We provide a range of tailored financial and technical services designed to meet the needs of banks and institutions — 
		    from highly secure payment processing to seamless system integration using global standards like ISO20022. 
		    We ensure speed, accuracy, and reliability in every transaction, empowering our partners to grow their business with confidence.
		  </p>
		  <div class="discover__grid">
		    <div class="discover__card">
		      <h4>Package Two</h4>
		      <p>
		        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reiciendis dignissimos unde sint laudantium neque in. Explicabo et ab voluptatibus sapiente eveniet laborum consectetur architecto porro
		      </p>
		      <button class="btn">Read more</button>
		    </div>
		    <div class="discover__card">
		      <h4>lorem</h4>
		      <p>
		        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reiciendis dignissimos unde sint laudantium neque in. Explicabo et ab voluptatibus sapiente eveniet laborum consectetur architecto porro
		      </p>
		      <button class="btn">Read more</button>
		    </div>
		    <div class="discover__card">
		      <h4>lorem</h4>
		      <p>
		        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reiciendis dignissimos unde sint laudantium neque in. Explicabo et ab voluptatibus sapiente eveniet laborum consectetur architecto porro
		      </p>
		      <button class="btn">Read more</button>
		    </div>
		    <div class="discover__card">
		      <h4>lorem</h4>
		      <p>
		        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reiciendis dignissimos unde sint laudantium neque in. Explicabo et ab voluptatibus sapiente eveniet laborum consectetur architecto porro
		      </p>
		      <button class="btn">Read more</button>
		    </div>
		    <div class="discover__card">
		      <h4>lorem</h4>
		      <p>
		        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reiciendis dignissimos unde sint laudantium neque in. Explicabo et ab voluptatibus sapiente eveniet laborum consectetur architecto porro
		      </p>
		      <button class="btn">Read more</button>
		    </div>
		    <div class="discover__card">
		      <h4>lorem</h4>
		      <p>
		        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque reiciendis dignissimos unde sint laudantium neque in. Explicabo et ab voluptatibus sapiente eveniet laborum consectetur architecto porro
		      </p>
		      <button class="btn">Read more</button>
		    </div>
		  </div>
		</section>


		<footer id="contact">
		  <div class="section__container footer__container">
		    <div class="footer__col">
		      <div class="footer__logo">
		        <a href="#" class="logo">BPDZ</a>
		      </div>
		      <p>
		        BPDZ is a unified platform designed to streamline banking operations between financial institutions through a secure and modern central system. 
		        Leveraging advanced technologies and international standards like ISO20022, we ensure accurate and transparent transaction settlement. 
		        We are committed to providing reliable services that enhance the efficiency of the national financial system.
		      </p>
		    </div>
		    <div class="footer__col">
		      <h4>Quick Links</h4>
		      <ul class="footer__links">
		        <li><a href="#">...</a></li>
		        <li><a href="#">...</a></li>
		        <li><a href="#">....</a></li>
		        <li><a href="#">....</a></li>
		      </ul>
		    </div>
		    <div class="footer__col">
		      <h4>Contact Us</h4>
		      <ul class="footer__links">
		        <li>
		          <a href="#">
		            <span><i class="ri-phone-fill"></i></span> +213 123 456 789
		          </a>
		        </li>
		        <li>
		          <a href="#">
		            <span><i class="ri-record-mail-line"></i></span> info@BPDZ
		          </a>
		        </li>
		        <li>
		          <a href="#">
		            <span><i class="ri-map-pin-2-fill"></i></span> ALGERIA, algeirs
		          </a>
		        </li>
		      </ul>
		    </div>
		  </div>
		  <div class="footer__bar">
		    Copyright © 2025 Platform DZ, All rights reserved.
		  </div>
		</footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/static/js/main.js"></script>
    </script>
  </body>
</html>
