<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/table_css.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>BPDZ</title>
  </head>
  <body>
	  <nav>
	  <div class="nav__header">
	    <div class="nav__logo">
	      <a href="#" class="logo">BPDZ</a>
	    </div>
	    <div class="nav__menu__btn" id="menu-btn">
	      <i class="ri-menu-line"></i>
	    </div>
	  </div>
	  <ul class="nav__links" id="nav-links">
	    <li><a href="/login">HOME</a></li>
	    <li class="dropdown">
	      <a href="#">SERVICES <i class="ri-arrow-down-s-line"></i></a>
	      <ul class="dropdown-content">
	        <li><a href="/form">Fill Pacs</a></li>
	      </ul>
	    </li>
	    <li id="last_child"><a href="/profile">PROFILE</a></li>
	  </ul>
	  <div class="nav__btns">
	    <li><a href="/profile">PROFILE</a></li>
	  </div>
	</nav>

       <div class="search-box">
    <form th:action="@{/searcharchive}" th:object="${search}" method="POST">
        <input type="text" name="search" placeholder="Rechercher par nom de banque..." th:value="${search}">
        <button type="submit">Rechercher</button>
    </form>
</div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Bic</th>
                <th>Nature</th>
                <th>statutMouvement</th>
                <th>Type Message</th>
                <th>Transmission</th>
                <th>Infos</th>
                <th>Date Send</th>
                <th>Date Received</th>
                <th>Date Archived</th>
                <th>XML</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each ="archive:${archive}">
            <td th:text="${archive.id}"></td>
            <td th:text="${archive.getBanque().getBic()}"></td>
            <td th:text="${archive.natureMouvement}"></td>
            <td th:text="${archive.statutMouvement}"></td>
            <td th:text="${archive.typeMessage}"></td>
            <td th:text="${archive.modeTransmission}"></td>
             <td th:text="${archive.informationsMessage}"></td>
              <td th:text="${archive.dateSend}"></td>
               <td th:text="${archive.dateReceived}"></td>
               <td th:text="${archive.xmlFile}"></td>
            </tr>
        </tbody>
    </table>

        <script src="/js/main.js"></script>
    
</body>
</html>