<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/table_css.css" />
    <link rel="stylesheet" href="/css/styles.css" />   
    <title>BPDZ</title>
  </head>
  <body>
	  <nav>
	  <div class="nav__header">
	    <div class="nav__logo">
	      <a href="#" class="logo">BPDZ</a>
	    </div>
	    <div class="nav__menu__btn" id="menu-btn">
	      <i class="ri-menu-line"></i>
	    </div>
	  </div>
	  <ul class="nav__links" id="nav-links">
	    <li><a href="/login">HOME</a></li>
	    <li class="dropdown">
	      <a href="#">SERVICES <i class="ri-arrow-down-s-line"></i></a>
	      <ul class="dropdown-content">
	        <li><a href="/form">Fill Pacs</a></li>
	      </ul>
	    </li>
	    <li id="last_child"><a href="/profile">PROFILE</a></li>
	  </ul>
	  <div class="nav__btns">
	    <li><a href="/profile">PROFILE</a></li>
	  </div>
	</nav>


<h2>table dir</h2>

<div class="search-box">
    <form th:action="@{/search}" th:object="${search}" method="POST">
        <input type="text" name="search" placeholder="Rechercher par nom de banque..." th:value="${search}">
        <button type="submit">Rechercher</button>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>Nom Banque</th>
            <th>Code Banque</th>
            <th>BIC</th>
            <th>Adresse</th>
            <th>Participante</th>
            <th>ISO20022</th>
            <th>Prêt</th>
            <th>Nom Correspondant</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Abonnement</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each ="banks:${banks}">
            <td th:text="${banks.nomBanque}"></td>
            <td th:text="${banks.codeBanque}"></td>
            <td th:text="${banks.bic}"></td>
            <td th:text="${banks.adresse}"></td>
            <td th:text="${banks.participante}"></td>
             <td th:text="${banks.iso20022Integration}"></td>
              <td th:text="${banks.pret}"></td>
               <td th:text="${banks.nomCorrespondant}"></td>
                <td th:text="${banks.mail}"></td>
                <td th:text="${banks.tel}"></td>
                <td th:text="${banks.abonnement}"></td>
            
        </tr>
    </tbody>
</table>
<script src="/js/main.js"></script>
</body>
</html>
