<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/css/table_css.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>BPDZ</title>
  </head>
  <body>
	  <nav>
	  <div class="nav__header">
	    <div class="nav__logo">
	      <a href="#" class="logo">BPDZ</a>
	    </div>
	    <div class="nav__menu__btn" id="menu-btn">
	      <i class="ri-menu-line"></i>
	    </div>
	  </div>
	  <ul class="nav__links" id="nav-links">
	    <li><a href="/login">HOME</a></li>
	    <li class="dropdown">
	      <a href="#">SERVICES <i class="ri-arrow-down-s-line"></i></a>
	      <ul class="dropdown-content">
	        <li><a href="/form">Fill Pacs</a></li>
	      </ul>
	    </li>
	    <li id="last_child"><a href="/profile">PROFILE</a></li>
	  </ul>
	  <div class="nav__btns">
	    <li><a href="/profile">PROFILE</a></li>
	  </div>
	</nav>


<h2>table fraud</h2>

<div class="search-box">
    <form th:action="@{/searchfraude}" th:object="${search}" method="POST">
        <input type="text" name="search" placeholder="Rechercher par nom de banque..." th:value="${search}">
        <button type="submit">Rechercher</button>
    </form>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Raison</th>
            <th>InformationInterdite</th>
            <th>dateInterdiction</th>
        </tr>
    </thead>
    <tbody>
       <tr th:each="fraude : ${fraude}">
            <td th:text="${fraude.id}"></td>
            <td th:text="${fraude.raison}"></td>
            <td th:text="${fraude.informationInterdite}"></td>
            <td th:text="${fraude.dateInterdiction}"></td>
            </tr>
    </tbody>
</table>

<script src="/js/main.js"></script>
</body>
</html>
